
/* EDIT THE BELOW RGB AND HEX TO CHANGE THE ACCENT COLOURS */

/* -- INDEX CSS -- */

/* Main Text accent colour */
:root {
	--bs-accent-rgb: 214,51,132;
}

.text-accent-colour {
	--bs-text-opacity: 1;
	color: rgba(var(--bs-accent-rgb),var(--bs-text-opacity))!important;
}

/* Button with Outline */
.btn-outline-accent {
	color: #d63384;
	border-color: #d63384;
}

.btn-outline-accent:hover {
	color: #fff;
	background-color: #d63384;
	border-color: #d63384;
}

/* Solid Button */
.btn-accent {
	color: #000;
	background-color: #d63384;
	border-color: #d63384;
}

.btn-accent:hover {
	color: #fff;
	background-color: #cb0266;
	border-color: #cb0266;
}

/* Scrollbar Colours */
::-webkit-scrollbar {
	width: 10px;
	color: #ffffff;
}

::-webkit-scrollbar-track {
	background: #212529;
}

::-webkit-scrollbar-thumb {
	background: #d63384;
	border-radius: 30px;
}

::-webkit-scrollbar-thumb:hover {
	background: #cb0266;
}

/* border colours */
.border-accent {
	border-color: #d63384!important;
}

/* -- Commands CSS -- */

/* Change the horizontal rule (line) on command page */
hr {
  border: 1px solid #d63384;
  margin: 1rem;
  opacity: .25;
}

/* Select Commands Category buttons - You don't need to edit this section*/
.btn-commandscategory {
	text-align: left;
	background-color: transparent;
	border: 1px solid transparent;
	color: #b1b1b1;
}

/* The colour when hover over a Commands Category button */
.btn-commandscategory:hover {
	background-color: #d633842e; /* Make sure this colour is about 75% opaque for good looking results */
	border: 1px solid #d633842e; /* Make sure this colour is about 75% opaque for good looking results */
}

/* The colour when a Commands Category button is active */
.btn-check:active+.btn-commandscategory,.btn-check:checked+.btn-commandscategory,.btn-commandscategory.active,.btn-commandscategory:active,.show>.btn-commandscategory.dropdown-toggle {
	color: #fff;
	background-color: #d63384;
	border-color: #d63384;
}

/* The colour outline when you focus on the search box */
.search-box:focus {
	border: 2px solid #d63384;
}

/* Navbar Dropdown Hover */
.dropdown-item:focus,.dropdown-item:hover {
	color: #fff!important;
	background-color: #d63384!important;
}

/* No need to edit past this point unless you want to make the theme more unique */
/* --------------------------------------------------------------------------------------------------------------------- */
.footer-clean {
  padding:50px 0;
  color:#f8f9fa;
}

.footer-clean h3 {
  margin-top:0;
  margin-bottom:12px;
  font-weight:bold;
  font-size:16px;
}

.footer-clean ul {
  padding:0;
  list-style:none;
  line-height:1.6;
  font-size:14px;
  margin-bottom:0;
}

.footer-clean ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
}

.footer-clean ul a:hover {
  opacity:1;
}

.footer-clean .item.social {
  text-align:right;
}


.footer-clean .item.social > a {
  font-size:24px;
  width:40px;
  height:40px;
/*  line-height:40px;*/
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin-left:10px;
  margin-top:22px;
  color:inherit;
  opacity:0.75;
}

.footer-clean .item.social > a:hover {
  opacity:0.9;
}

.footer-clean .copyright {
  margin-top:14px;
  margin-bottom:0;
  font-size:13px;
  opacity:0.6;
}

.card {
  background-color: #2b2d30;
  color: #fff;
  margin-left: 9px;
}

::placeholder {
	/* Chrome, Firefox, Opera, Safari 10.1+ */
	color: rgb(219, 219, 219);
	opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
	/* Internet Explorer 10-11 */
	color: rgb(219, 219, 219);
}

::-ms-input-placeholder {
	/* Microsoft Edge */
	color: rgb(219, 219, 219);
}

/*!
 * Discord Bot Website Template
 * Made By Hadi-Koubeissi Modified By Senka Wolf
 */